<nav class="navbar navbar-expand-lg navbar-cc sticky-top">
    <div class="container">
        <a class="navbar-brand cc-logo" href="#">
            <i class="fas fa-heartbeat text-cc-primary me-2"></i> BYU-ClinicCare
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><NavLink class="nav-link" href="/services">Services</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/doctorspublic">Our Doctors</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="/contact">Contact</NavLink></li>
                <li class="nav-item ms-lg-3">
                <NavLink class="btn btn-outline-success" href="/bookonline"><i class="far fa-calendar-alt me-1"></i> Book Online</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>